h1{
	font-size: 2em;
	color: green;
}
h1+p{
	font-size: 200%;
}

body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

p,li{
	color: green;
}

li{
	/*list-style-type: none;*/
}

li.special, 
span.special
{
	color: orange;
	font-weight: bold;
}
/* 
.special{
	color: orange;
	font-weight: bold;
}
*/

li em{
	color: rebeccapurple;
	font-weight: bold;
}

a:link{
	color: pink;
}

a:visited{
 	color: red;
 }

a:hover{
	text-decoration: none; 
}

a{
	text-decoration: none; /*se supone que elimine el subrayado del link*/
}


body{
	font-family: Ubuntu;
}

